<h1><%= @book.title%>  </h1>


<h2> <%= @book.title %> </h2>
<div>
  <p><%= @book.description %></p>
</div>


<%= link_to "Edit #{@book.title}", edit_book_path(@book) if @book.user == current_user%>

<br></br>

<%= link_to "See all Reviews", book_reviews_path(@book) %>